.navbar {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: transparent;
  border-radius: 0 0 0 10px;
  z-index: 100;
}

.sections a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  margin-right: 10px;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
}

.sections a:hover {
  color: rgb(243, 126, 146);
  text-shadow: 0 0 10px pink, 0 0 20px pink, 0 0 30px pink;
}

.sections a:active {
  color: rgb(243, 126, 146);
  text-shadow: 0 0 10px pink, 0 0 20px pink, 0 0 30px pink;
}
